.Info {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Roboto", serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Jacquard 12", serif;
}
